page-cartao-vacina {
 
    .float-right {
        float: right!important;
    }

    .text-h5 {
        padding-left: 16px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        color: #545b62;
        font-size: 1.5rem;
    }

    .fs-90 {
        font-size: 80%;
        padding-bottom: 10px;
    }

    .title {
        padding: 8px 16px;
    }

    .height-footer {
        height: 40px;
    }

    .pb-1 {
        padding-bottom: 0;
    }

    .reg-vac {
        color: #155724;
        background-color: #d4edda;
        text-align: center;
        font-size: 90%;
        display: grid;
        align-items: center;
    }

    .n-reg-vac {
        color: #721c24;
        background-color: #f8d7da;        
        font-size: 90%;
        display: grid;
        align-items: center;
        text-align: center;
    }    

    .em-dia {
        background-color: #d1ecf1;
        color: #0c5460;
        text-align: center;
        font-size: 90%;
        display: grid;
        align-items: center;
    }

    .margin {
        padding-top: 18px;
    }

    .color-icon {
        color: #117a8b;
    }

    .segment-md .segment-button {
        font-size: 1.2rem;
        background-color: #ffffff;
        color: #545b62;
    }

    .segment-md .segment-button.segment-activated {
        border-top: solid 2px #117a8b;
        border-bottom: transparent;
        background-color: #ffffff;
    }

    .right-aling{
        right: 0;
    }

    .size-icon {
        font-size: 2rem;
    }

    .card-warning {
        border-left: solid 5px #d39e00;
    }

    .card-primary {
        border-left: solid 5px #007bff;
    }

    .card-info {
        border-left: solid 5px #117a8b;
    }

    .card-secondary {
        border-left: solid 5px #545b62;
    }

    .card-success {
        border-left: solid 5px #1e7e34;
    }

    .card-danger {
        border-left: solid 5px #bd2130;
    }

    .card-light {
        border-left: solid 5px #dae0e5;
    }

    .card-dark {
        border-left: solid 5px #23272b;
    }
}