page-recovery {

    .input-left{
        padding-left: 0;
    }

    .label-margin-left{
        margin-left: 8px;
    }

    .btn-recuperar{
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .btn {
        margin: 0 16px;
    }
}
