page-login {

    .title-login{
        text-align: center;
        padding-top: 1.5rem;
        color: #117a8b;
    }

    .btn-esqueceu-senha{
        float: right;
        margin-top: 10px;
        font-size: 80%;
        padding: 0;
    }

    .btn-register{
        padding-left: 16px;
        padding-right: 16px;
    }

    .btn-login{
        margin-top: 30px;
    }

}
