<ion-header>

  <ion-navbar color="info">
    <ion-title>
      Cadastrar-se
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="save()">
  <ion-list inset>
    <ion-item class="input-left">
      <ion-input type="text" formControlName="nome" placeholder="Nome"></ion-input>
    </ion-item>  
    <ion-item class="input-left">
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="input-left">
      <ion-label class="label-margin-left">Nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"  formControlName="nascimento"
        cancelText=Cancelar doneText=Ok></ion-datetime>
    </ion-item>
    <ion-item class="input-left">
      <ion-label class="label-margin-left">Tipo Sanguineo</ion-label>
      <ion-select  formControlName="tipo_sanguineo" interface="popover">
        <ion-option value="A+">A+</ion-option>
        <ion-option value="A-">A-</ion-option>
        <ion-option value="B+">B+</ion-option>
        <ion-option value="B-">B-</ion-option>
        <ion-option value="AB+">AB+</ion-option>
        <ion-option value="AB-">AB-</ion-option>
        <ion-option value="O+">O+</ion-option>
        <ion-option value="O-">O-</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-left">
      <ion-label class="label-margin-left">Genero</ion-label>
      <ion-select formControlName="genero" interface="popover">
        <ion-option value="Masculino">Masculino</ion-option>
        <ion-option value="Feminino">Feminino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-left">
      <ion-label class="label-margin-left">Estado onde mora</ion-label>
      <ion-select formControlName="estado" interface="popover">
          <ion-option *ngFor="let est of municipios" (ionSelect)="clickOption(est)">{{est.sigla_uf}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="input-left">
      <ion-label class="label-margin-left">Cidade onde mora</ion-label>
      <ion-select formControlName="cidade" interface="popover">
        <ion-option *ngFor="let cid of cidadesPorUf">{{cid.nome_municipio}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="senha" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" formControlName="conf_senha" placeholder="Confirmar senha"></ion-input>
    </ion-item>
    <ion-list class="btn-salvar">
      <button ion-button color="info" [disabled]="!registerForm.valid" full>salvar</button>
    </ion-list>
  </ion-list>
</form>
</ion-content>
