page-modal-edit-vacinacao-pet {

    .text-h5 {
        padding-left: 16px;
        padding-top: 16px;
    }

    .input-left{
        padding-left: 0;
    }

    .label-margin-left{
        margin-left: 8px;
    }

    .btn-edit{
        margin-top: 2rem;
    }

    .btn-dismiss {
        margin: 0 1rem;
    }

    .btn-apagar{
        padding: 0 16px;
        margin: 0;
    }
}
