page-modal-edit-familiar {

    .btn-edit{
        margin-top: 16px;
        margin-bottom: 0;
    }

    .input-left {
        padding-left: 0;
    }

    .label-margin-left {
        margin: 13px 8px;
    }
    
    .btn-dismiss {
        margin: 0 1rem;
    }

    .btn-apagar{
        padding: 0 16px;
        margin: 0;
    }

}
