page-controle-vacina-pet {

    .segment-md .segment-button {
        font-size: 1rem;
        background-color: #ffffff;
        color: #545b62;
    }

    .segment-md .segment-button.segment-activated {
        border-top: solid 2px #117a8b;
        border-bottom: transparent;
        background-color: #ffffff;
    }

    .btn {
        border-left: solid 3px #117a8b;
        border-right: solid 1px #dae0e5;
        border-top: solid 1px #dae0e5;
        border-bottom: solid 1px #dae0e5;
        font-size: 1rem;
    }

    .card-info {
        border-left: solid 4px #117a8b; 
    }

    .title {
        color: #117a8b;
    }

    .float-right{
        float: right!important;
    }
}
