page-notificacoes {

    .text{
        text-align: justify;
    }

    .regi{
        margin-top: 1rem;
    }

    .prow{
        padding: 0 13px 13px 13px;
    }

    .text-pub {
        font-size: 90%;
    }

    .n-curtidas{
        font-size: 80%;
        color: #545b62;
        float: right;
        height: 100%;       
        display: grid;
        align-items: center;        
        text-align: center;
    }

    .p-1{
        padding-right: 10px;
    }

    .btn-pad{
        padding: 0 5px;
        color: #ff0000;
    }
}
