page-modal-vacina {

    .p-screen {
        padding: 1.5rem;
    }

    .mb {
        margin-bottom: 2.5rem;
    }

    .fs-90 {
        font-size: 90%;
    }

    .float-right {
        float: right!important;
    }

    .pl-1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .sub-title {
        color: #FFFFFF;
        padding: 0.5rem 0.5rem;
    }

    .tx-secondary {
        color: #545b62;
    }

    .warning {
        background-color: #d39e00;
    }

    .primary {
        background-color: #007bff;
    }

    .info {
        background-color: #117a8b;
    }

    .secondary{
        background-color: #545b62;
    }

    .success {
        background-color: #1e7e34;
    }

    .danger {
        background-color: #bd2130;
    }

    .light {
        background-color: #dae0e5;
    }
    
    .dark {
        background-color: #23272b;
    }

    .btn-dismiss {
        margin: 0 1rem;
    }

    .text-justify {
        text-align: justify;
    }

    .text-right {
        text-align: right;
    }

    .s-1 {
        font-size: 20px;
    }

}
