page-modal-apagar {

    .s-1 { 
        font-size: 80%;
    }

    .card-danger {
        border-left: solid 2px #bd2130;
    } 

    .p-1 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .btn-p {
        margin-top: 2rem;
    }

    .btn-dismiss {
        margin: 0 1rem;
    }    
}
