page-modal-edit-usuario {

    .input-left {
        padding-left: 0;
    }

    .btn-edit{
        margin-top: 2rem;
    }

    .btn-dismiss {
        margin: 0 1rem;
    }

    .btn-apagar{
        padding: 0 16px;
        margin: 0;
    }

    .label-margin-left {
        margin: 13px 8px;
    }
}
