page-modal-reg-pet {

    .btn-reg{
        margin-top: 16px;
    }

    .input-left {
        padding-left: 0;
    }

    .label-margin-left {
        margin: 13px 8px;
    }
    
    .btn-dismiss {
        margin: 0 1rem;
    }

}
